{% extends 'base/base.html' %}
{% load static %}
{% block head %}
    {% block meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
    {% endblock meta %}
    {% block assets %}
        <title>Blog Home - Start Bootstrap Template</title>
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    {% endblock assets %}
    {% block extra_styles %}
    <link href="{% static 'css/blog-home.css' %}" rel="stylesheet">
    {% endblock extra_styles %}

{% endblock head %}
{% block body %}
    {% block header %}
        {% include 'blocks/header/header1.html' %}
    {% endblock header %}

    {% block content %}
    {% endblock content %}

    {% block footer %}
        {% include 'blocks/footer/footer1.html' %}
    {% endblock footer %}

    {% block extra_js %}{% endblock extra_js %}
{% endblock body %}